__pycache__
*.pyc
.idea
build/
*.egg-info/

# Temporary files I hold in my working directory but they should not be committed before going through a refactor
# Mainly here for reference and my own convinience
not_yet_refactored/

# Testing IDBs
tests/*.i64
tests/*.id*
tests/*.nam
tests/*.til


# In the oven
tests/test_patches.py
tests/patch_undecoded.py
tests/dump_vtables.py